<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link>  


<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

<h3>Brand</h3>

 <!-- Top row with form-->
 <div class="row" th:if="${info.getRole()}=='supervisor'">
	 <div class="col-12">
			<form class="form-inline">
			  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="To add a brand" id="add-brand"><i class="fa-sharp fa-solid fa-plus"></i></button>
			  &nbsp;
			  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="To upload tsv" id="upload-data"><i class="fa-solid fa-cloud-arrow-up"></i></button>
			</form>
	 </div>	
</div> 


<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>
<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="table table-bordered table-hover" id="brand-table">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col" style="text-align:center;">S.No.</th>
	      <th scope="col" style="text-align:center;">Brand</th>
	      <th scope="col" style="text-align:center;">Category</th>
	      <th scope="col" style="text-align:center;" th:if="${info.getRole()}=='supervisor'">Action</th>
	    </tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
	<div class="col">
	</div>
</div>

</div>



<!-- Employee Edit Modal -->
<div class="modal" tabindex="-1" role="dialog" id="edit-brand-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Brand</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<form class="form" id="brand-edit-form">
			  <div class="form-row">
			    <label class="col-sm-2 col-form-label">Brand</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="brand" id="editBrand" placeholder="enter brand">
			    </div>
			  </div>
			  <br>
			  <div class="form-row">
			    <label class="col-sm-2 col-form-label">Category</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="category" id="editCategory" placeholder="enter category">
			    </div>
			  </div>
			</form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="update-brand">Update</button>
      </div>
    </div>
  </div>
</div>
<!-- Add Brand Modal -->
<div class="modal" tabindex="-1" role="dialog" id="addBrandModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Brand</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="form" id="brand-form">
					<div class="form-row">
						<label class="col-sm-2 col-form-label">Brand</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="brand" id="addBrand" placeholder="enter brand">
						</div>
					</div>
					<br>
					<div class="form-row">
						<label class="col-sm-2 col-form-label">Category</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="category" id="addCategory" placeholder="enter category">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="add">Add</button>
			</div>
		</div>
	</div>
</div>

<!-- Employee Edit Modal -->
<div class="modal" tabindex="-1" role="dialog" id="upload-brand-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title">Upload Brand</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      	<div class="employee-file">
		  <input type="file" class="custom-file-input" id="brandFile">
		  <label class="custom-file-label"  id="brandFileName">Choose file</label>
		</div>
		<a th:href="@{/sample/brand.tsv}" target="_blank">Download Sample</a> 
		<br>
		Rows: <span id="rowCount">0</span>, 
		Processed: <span id="processCount">0</span>, 
		Errors: <span id="errorCount">0</span>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="process-data" disabled>Upload</button>
        <button type="button" class="btn btn-warning" id="download-errors" disabled>Download Errors</button>
      </div>
    </div>
  </div>
</div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>
<script th:inline="javascript">
	/*<![CDATA[*/

		var role = /*[[${info.getRole()}]]*/ 'operator';

	/*]]>*/
</script>
<script th:src="@{/static/brand.js}"/></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>  

</body>	

</html>