<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link>  


<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

<h3>Inventory Report</h3>
	<!-- Top row with form-->
	<div class="row">
		<div class="col-12">
			<form class="form-inline" id="filter-form">
				<div class="form-inline form-group">
					<label for="brands" class="col-sm-3 col-form-label">Brand</label>
					<div class="col-sm-9">
						<select name="brand" id="brands" class="form-control">
							<option value="All">All</option>
						</select>
					</div>
				</div>
				<div class="form-inline form-group">
					<label for="category" class="col-sm-3 col-form-label">Category</label>
					<div class="col-sm-9">
						<select name="category" class="form-control" id="category">
							<option value="All">All</option>
						</select>
					</div>
				</div>&nbsp;
			</form>

		</div>
	</div>
	<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>
<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="table table-bordered table-hover" id="InventoryReport-table">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col" style="text-align:center;">S.No.</th>
	      <th scope="col" style="text-align:center;">Brand</th>
	      <th scope="col" style="text-align:center;">Category</th>
	      <th scope="col" style="text-align:center;">Quantity</th>
	    </tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
	<div class="col">
	</div>
</div>

</div>
</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/inventoryReport.js}"/></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>  

</body>	

</html>